<%= form_with(model: message, local: true) do |f| %>
  <% if message.errors.any? %>
    <ul>
      <% message.errors.messages[:content].each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.label :content, "メッセージ" %>
  <%= f.text_field :content %>
  <%= f.submit "投稿" %>
<% end %>